<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>BlueLeaks Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #wrapper {
            margin: 0 auto;
            max-width: 900px;
            font-family: sans-serif;
        }

        #wrapper h1 {
            color: #990000;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <h1>BlueLeaks Explorer <i class="fa-solid fa-triangle-exclamation"></i></h1>
        <p>{{ error_message }}</p>
    </div>
</body>

</html>